@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&display=swap');
/*Attributes for all elements*/
* {
   margin: 0;
   padding: 0;
   font-family: 'Noto Sans', sans-serif;
}
/*Attributes for vue instance*/
#app {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100vw;
   height: 100vh;
}

.text {
   font-size: 1.2em;
   text-align: center;
}

ul {
   list-style-type: none;
   
}
/*Attributes for the game board*/
.grid {
   display: flex;
   flex-direction: column;
   margin: 2em 0em;
}

.row {
   display: flex;
   flex-direction: row;
}
/*Attributes for all cells*/
.cell {
   height: 3em;
   width: 3em;
   padding: 0.2em;
   cursor: pointer;
   outline: none;
   -webkit-tap-highlight-color: transparent;
}
/*Attributes for all cells before some player clicked on it*/
.cell::before {
   content: '';
   width: 100%;
   height: 100%;
   display: block;
   border-radius: 50%;
   background-color: #E1E1E1;
}

.cell.color-2::before {
   background-color: #CE0000;
}

.cell.color-3::before {
   background-color: #000063;
}
/*Attributes for all cells which not clicked on it and not the icon which player's turn*/
.cell:not(.occupied):not(.cell-prev):hover::before {
   background-color: #7E7E7E;
}
/*Attributes for the button*/
.btn {
   display: inline-block;
   margin: 0.5em;
   background-color: #2962ff;
   outline: none;
   -webkit-tap-highlight-color: transparent;
   border-width: 0;
   border-radius: 0.3em;
   box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
   color: #FFFFFF;
   padding: 1em 2em;
   cursor: pointer;
   position: relative;
   overflow: hidden;
}

.btn span {
   position: relative;
   z-index: 6;
}

.btn::before {
   content: '';
   position: absolute;
   top: 0;
   left:0 ;
   width: 100%;
   height: 100%;
   display: block;
   background-color: rgba(0, 0, 0, 0.1);
   opacity: 0;
   transition: opacity 0.3s;
}

.btn:hover::before {
   opacity: 1;
}

.btn::after {
   content: '';
   position: absolute;
   top: 50%;
   left: 50%;
   width: 0;
   padding-top: 0;
   display: block;
   background-color: rgba(255, 255, 255, 0.15);
   border-radius: 100%;
   z-index: 5;
   transform: translate(-50%, -50%);
}

.btn:active::after {
   width: 120%;
   padding-top: 120%;
   transition: width .3s ease-out, padding-top .3s ease-out;
}
/*Attributes for cell showing which player's turn*/
.cell-prev {
   display: inline-block;
   width: 1.5em;
   height: 1.5em;
   vertical-align: middle;
}

.turn-text {
   vertical-align: middle;
}
